<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812630718229-6cfdlcrvtkadnid3fpiaige1ae146vou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812630718229-6cfdlcrvtkadnid3fpiaige1ae146vou</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ4RuBCYlfxCkRAA6HxYYd22gF-RPyKjM</string>
	<key>GCM_SENDER_ID</key>
	<string>812630718229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.net.invoicegenerator</string>
	<key>PROJECT_ID</key>
	<string>invoicegenerator-fc4a1</string>
	<key>STORAGE_BUCKET</key>
	<string>invoicegenerator-fc4a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812630718229:ios:9cb40a69d4226c31615b1c</string>
</dict>
</plist>